@font-face {
  font-family: "Bjola";
  src: url("fonts/bjola-webfont.eot");
  src: url("fonts/bjola-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/bjola-webfont.woff2") format("woff2"),
    url("fonts/bjola-webfont.woff") format("woff"),
    url("fonts/bjola-webfont.ttf") format("truetype"),
    url("fonts/bjola-webfont.svg#Bjola") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  --title: #0044c1;
  --subtitle: #ed3382;
  --text: #7830d3;
  --border: #6400d8;
  --border-bg: #fffca8;
  --black: #000;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.bg-texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sky-background {
  height: 350px;
  background-image: url("images/arkaplan.png");
  background-repeat: repeat-x;
  position: relative;
}

.sky-background::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-image: url("images/bulut_arka.png");
  background-repeat: repeat-x;
}

.bush-background {
  height: 125px;
  background-image: url("images/cim.png");
  background-repeat: repeat-x;
  position: relative;
}

.bush-background::after {
  content: "";
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/bulut_on.png");
  background-repeat: repeat-x;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.logo img {
  width: 128px;
}

.title h1,
.title p,
.qr-code-text,
button {
  font-family: "Bjola", sans-serif;
}

.title h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--title);
  margin: 0;
}

.title p {
  font-size: 18px;
  font-weight: 400;
  color: var(--subtitle);
  margin: 0;
}

.mom-and-kids {
  background-image: url("images/anne_cocuk_gorsel.png");
  background-repeat: no-repeat;
  background-position: center 0;
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.top-icons {
  max-width: 390px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.activation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.activation-box {
  max-width: 225px;
  width: 100%;
  padding: 4% 6%;
  border: var(--border) 3px dashed;
  border-radius: 10px;
  background-color: var(--border-bg);
}

.activation-box p {
  color: var(--text);
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

.qr-code {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}

.qr-code-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
  margin: 20px auto 5px;
  cursor: pointer;
}

.qr-code-title img {
  height: 10px;
}

.qr-code-text {
  position: relative;
  max-width: 100px;
  margin-right: 10px;
}

.qr-code-text p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

.qr-code-text span {
  text-transform: uppercase;
  line-height: 32px;
}

.qr-code-text::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  right: 0px;
  bottom: 5px;
  background-image: url("images/phone.png");
  background-repeat: no-repeat;
}

.qr-code-area {
  position: relative;
  width: calc(100% - 100px);
  height: 125px;
  background-image: url("images/qr_code.png");
  background-repeat: no-repeat;
}

.qr-code-area::after {
  position: absolute;
  content: "";
  top: -10px;
  right: 25px;
  width: 80px;
  height: 125px;
  background-image: url("images/yesil_ok.png");
  background-repeat: no-repeat;
}

.bottom-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.bottom-icons img {
  max-width: 420px;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 12%;
}

.footer .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer a {
  font-size: 14px;
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.footer a:hover {
  color: var(--text);
}

.explore-now {
  display: none;
  align-items: center;
  width: 70%;
  height: 125px;
  margin: 10px auto;
  position: relative;
}

button {
  width: 100%;
  height: 90px;
  background-color: #00d122;
  border: 2px solid #0c6500;
  border-radius: 50px;
  cursor: pointer;
}

button a {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  padding-left: 125px;
  text-align: center;
}

button:hover {
  background-color: #00b11a;
}

.explore-now::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 125px;
  background-image: url("images/icon_play.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 600px) {
  .qr-code {
    display: none;
  }
  .explore-now {
    display: flex;
  }

  .title {
    padding: 0 6px;
  }

  .title p {
    font-size: 16px;
  }
}

@media (max-width: 520px) {
  .explore-now {
    width: 80%;
  }

  button a {
    font-size: 1.8rem;
  }
}

@media (max-width: 430px) {
  .bush-background::after {
    top: 40px;
  }
  .mom-and-kids {
    background-size: contain;
    height: 290px;
  }

  .top-icons {
    height: 90px;
    padding: 0 50px;
    margin-right: 20px;
  }

  .explore-now {
    width: 320px;
    margin: 0 auto;
  }

  .explore-now::before {
    width: 110px;
    height: 110px;
    top: 50%;
    transform: translateY(-50%);
  }

  button {
    height: 75px;
  }

  button a {
    font-size: 1.7rem;
    padding-left: 100px;
  }

  .bottom-icons {
    margin-top: 0;
  }

  .bottom-icons img {
    max-width: 350px;
  }

  .activation-box {
    max-width: 190px;
    padding: 20px;
  }

  .activation-box p {
    font-size: 12px;
  }

  .qr-code-title {
    margin-top: 15px;
    font-size: 12px;
  }

  .qr-code-title img {
    height: 8px;
  }

  .footer {
    margin-top: 20px;
    padding: 0 6%;
  }

  .links a {
    font-size: 12px;
    margin-right: 10px;
  }
}

@media (max-width: 400px) {
  .bush-background::after {
    top: 10px;
  }
  .title h1 {
    font-size: 24px;
  }

  .mom-and-kids {
    height: 240px;
  }

  .top-icons {
    height: 70px;
  }

  .top-icons img {
    margin-right: 5px;
  }

  .activation-box {
    padding: 15px;
  }

  .activation {
    margin-top: 10px;
  }

  .explore-now {
    height: 90px;
    width: 240px;
  }

  .explore-now::before {
    width: 90px;
    height: 90px;
    left: -10px;
  }

  button {
    height: 50px;
  }

  button a {
    font-size: 1.2rem;
    padding-left: 60px;
  }

  .bottom-icons img {
    max-width: 300px;
  }
}

@media (max-width: 300px) {
  .title h1 {
    font-size: 20px;
  }

  .sky-background {
    height: 250px;
  }

  .title p {
    font-size: 14px;
  }

  .mom-and-kids {
    height: 190px;
  }

  .top-icons {
    height: 60px;
    padding: 0 20px;
  }

  .bottom-icons img {
    max-width: 250px;
  }

  .activation-box {
    max-width: 180px;
    padding: 10px;
  }

  .activation-box p {
    font-size: 10px;
  }

  .qr-code-title {
    font-size: 10px;
    margin-top: 10px;
  }

  .explore-now {
    height: 70px;
    width: 200px;
  }

  .explore-now::before {
    width: 70px;
    height: 70px;
    left: -10px;
  }

  button {
    height: 40px;
  }

  button a {
    font-size: 1rem;
    padding-left: 50px;
  }

  .footer {
    padding: 0 5px;
  }

  .links a {
    font-size: 10px;
  }
}
