@font-face {
  font-family: "Bjola";
  src: url("fonts/bjola-webfont.eot");
  src: url("fonts/bjola-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/bjola-webfont.woff2") format("woff2"),
    url("fonts/bjola-webfont.woff") format("woff"),
    url("fonts/bjola-webfont.ttf") format("truetype"),
    url("fonts/bjola-webfont.svg#Bjola") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  --title: #0044c1;
  --subtitle: #ed3382;
  --text: #7830d3;
  --border: #6400d8;
  --border-bg: #fffca8;
  --black: #000;
  --title-font-size: 32px;
  --subtitle-font-size: 18px;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.bg-texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sky-background {
  height: 350px;
  background-image: url("images/arkaplan.png");
  background-repeat: repeat-x;
  position: relative;
}

.sky-background::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-image: url("images/bulut_arka.png");
  background-repeat: repeat-x;
}

.bush-background {
  height: 125px;
  background-image: url("images/cim.png");
  background-repeat: repeat-x;
  position: relative;
}

.bush-background::after {
  content: "";
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url("images/bulut_on.png");
  background-repeat: repeat-x;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.logo img {
  width: 128px;
}

.title h1,
.title p,
.qr-code-text,
button {
  font-family: "Bjola", sans-serif;
}

.title h1 {
  font-size: var(--title-font-size);
  font-weight: 700;
  color: var(--title);
  margin: 0;
}

.title p {
  font-size: var(--subtitle-font-size);
  font-weight: 400;
  color: #ed3382;
  margin: 0;
}

.mom-and-kids {
  background-image: url("images/anne_cocuk_gorsel.png");
  background-repeat: no-repeat;
  background-position: center 0;
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.top-icons {
  width: 390px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.activation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.activation-box {
  width: 265px;
  padding: 5px;
  border: var(--border) 4px dashed;
  border-radius: 10px;
  background-color: var(--border-bg);
}

.activation-box p {
  color: var(--text);
  font-weight: 700;
  font-size: 14px;
}

.qr-code {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 360px;
  margin: 0 auto;
}

.qr-code-title {
  font-size: 14px;
  font-weight: 400;
  color: var(--text);
  margin: 10px auto;
}

.qr-code-text {
  position: relative;
  max-width: 100px;
  margin-right: 10px;
}

.qr-code-text p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

.qr-code-text span {
  text-transform: uppercase;
  line-height: 32px;
}

.qr-code-text::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  right: 0px;
  bottom: 5px;
  background-image: url("images/phone.png");
  background-repeat: no-repeat;
}

.qr-code-area {
  position: relative;
  width: calc(100% - 100px);
  height: 125px;
  background-image: url("images/qr_code.png");
  background-repeat: no-repeat;
}

.qr-code-area::after {
  position: absolute;
  content: "";
  top: -10px;
  right: 25px;
  width: 80px;
  height: 125px;
  background-image: url("images/yesil_ok.png");
  background-repeat: no-repeat;
}

.bottom-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.bottom-icons img {
  max-width: 400px;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 12%;
}

.footer .links {
  display: flex;
  justify-content: space-between;
  max-width: 420px;
  width: 100%;
  margin-right: 50px;
}

.footer a {
  font-size: 14px;
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.footer a:hover {
  color: var(--text);
}
